{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

<header>
    <style>
        #task-container {
            padding: 10px;
        }

        #form-wrapper {
            border-bottom: 1px solid #85baa1;
            background-color: #85baa1;
        }
    </style>
</header>

<div class="alert alert-info">
    Your password has been set.
</div>

<div class="container">
    <div id="form-wrapper">
        <div id="task-container">
            <h1>Sign In</h1>
            <a href="{% url 'login' %}">Sign In Here</a>
        </div>
    </div>
</div>

{% endblock content %}
