{% extends 'frontend/base.html' %} {% load static %} {% block content %}
<header>
    <style>
        #task-container {
            padding: 10px;
        }

        #form-wrapper {
            border-bottom: 1px solid #85baa1;
            background-color: #85baa1;
        }
    </style>
</header>

<div class="container">
    <div id="form-wrapper">
        <div id="task-container">
            <h1>Register</h1>
            <form method="post" id="form">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <br>
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <input type="submit" value="Sign Up" class="btn btn-sm btn-outline-dark" />
            </form>
            <small>
                Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock content %}
