{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background-image: none;
    }

    .select {
        margin: 0.5rem;
        overflow: hidden;
    }

    select {
        color: #7cb69a;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        width: 7rem;
    }

    .select::after {
        content: "\25BC";
        color: #7cb69a;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
        pointer-events: none;
    }

    .sidenav {
        width: 530px;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: 10px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
    }

    .sidenav a:hover {
        color: #064579;
    }
</style>

<div class="sidenav">
    <div class="group-container">
        <div class="group-wrapper">
            <div id="group-form">
                <div class="flex-wrapper">
                    <div style="flex: 6">
                        <input id="name" class="form-control" type="text" name="name" placeholder="Add group">
                    </div>
                    <div style="flex: 1">
                        <input id="submit-group" class="btn" type="submit">
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="#task-list-1">Task list 1</a> -->
        <div id="group-list-wrapper">

        </div>
    </div>
</div>


<div class="container">
    <div id="logout-container">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div class="container">
    <div id="task-container">
        <div id="form-wrapper">
            <form id="form">
                <div class="flex-wrapper">
                    <div style="flex: 6">
                        <input id="title" class="form-control" type="text" name="title" placeholder="Add task">
                    </div>
                    <div style="flex: 1">
                        <input id="submit" class="btn" type="submit">
                    </div>
                    <div style="flex: 2 padding-right:0" class="select">
                        <select name="todos" class="filter-todo">
                            <option value="all">All</option>
                            <option value="completed">Completed</option>
                            <option value="uncompleted">Uncompleted</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div id="list-wrapper">

        </div>
    </div>
</div>

<script type="text/javascript">

    // csrf token with ajax
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    var activeGroupItem = null;
    var group_snapshot = []

    buildGroup()

    function buildGroup() {
        var wrapper = document.getElementById('group-list-wrapper')
        wrapper.innerHTML = '';

        var url = 'http://127.0.0.1:8000/api/group-list/'

        fetch(url)
            .then((resp) => resp.json())
            .then(function (data) {
                console.log('GroupData', data)
                var list = data

                for (var i in list) {
                    var item = `
                        <div id="data-row-${i}" class="group-wrapper flex-wrapper">
                            <div style="flex: 7">
                                ${name}
                            </div>
                            <div style="flex: 1">
                            <button class="btn btn-sm btn-outline-info edit-group">
                                Edit
                            </button>
                        </div>
                        <div style="flex: 1">
                                <button class="btn btn-sm btn-outline-dark delete-group">
                                    Delete
                                </button>
                        </div>
                        </div>
                    `
                    wrapper.innerHTML += item
                }

                if (group_snapshot.length > list.length) {
                    for (var i = list.length; i < group_snapshot.length; i++) {
                        document.getElementById(`data-row-${i}`).remove()
                    }
                }

                group_snapshot = list

                for (var i in list) {
                    var editGroup = document.getElementsByClassName('edit-group')[i]
                    var deleteGroup = document.getElementsByClassName('delete-group')[i]
                    var name = document.getElementsByClassName('name')[i]

                    editGroup.addEventListener('click', (function (item) {
                        return function () {
                            editGroup(item)
                        }
                    })(list[i]))

                    deleteGroup.addEventListener('click', (function (item) {
                        return function () {
                            deleteGroup(item)
                        }
                    })(list[i]))
                }

            })

    }

    var group_form = document.getElementById('group-wrapper')
    group_form.addEventListener('submit-group', function (e) {
        e.preventDefault()
        console.log('Group submitted')
        var url = 'http://127.0.0.1:8000/api/group-create/'
        if (activeItem != null) {
            var url = `http://127.0.0.1:8000/api/group-update/${activeGroupItem.id}/`
            activeGroupItem = null
        }
        var name = document.getElementById('name').value
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'name': name })
        }).then(function (response) {
            buildGroup()
            document.getElementById('group-form').reset()
        })
    })

    function editGroup(group) {
        console.log('Group clicked:', group)
        activeGroupItem = group
        document.getElementById('name').value = activeGroupItem.name
    }

    function deleteGroup(group) {
        console.log('Delete Group clicked')
        fetch(`http://127.0.0.1:8000/api/group-delete/${group.id}/`, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
        }).then((response) => {
            buildGroupList()
        })
    }

    var activeItem = null;
    var list_snapshot = []

    buildList()

    function buildList() {
        var wrapper = document.getElementById('list-wrapper')
        wrapper.innerHTML = '';

        var url = 'http://127.0.0.1:8000/api/task-list/'

        fetch(url)
            .then((resp) => resp.json())
            .then(function (data) {
                console.log('Data:', data)

                var list = data
                for (var i in list) {
                    console.log(filterOption.value)

                    if (filterOption.value == "completed" && !list[i].completed) {
                        continue
                    }
                    if (filterOption.value == "uncompleted" && list[i].completed) {
                        continue
                    }

                    try {
                        document.getElementById(`data-row-${i}`).remove()
                    } catch (error) {

                    }

                    var title = `<span class="title">
                                ${list[i].title}
                            </span>`
                    if (list[i].completed == true) {
                        title = `<strike class="title">
                                ${list[i].title}
                            </strike>`
                    }

                    var item = `
                    <div id="data-row-${i}" class="task-wrapper flex-wrapper">
                        <div style="flex: 7">
                            ${title}
                        </div>
                        <div style="flex: 1">
                            <button class="btn btn-sm btn-outline-info edit">
                                Edit
                            </button>
                        </div>
                        <div style="flex: 1">
                                <button class="btn btn-sm btn-outline-dark delete">
                                    Delete
                                </button>
                        </div>
                    </div>
                `
                    wrapper.innerHTML += item


                }

                if (list_snapshot.length > list.length) {
                    for (var i = list.length; i < list_snapshot.length; i++) {
                        document.getElementById(`data-row-${i}`).remove()
                    }
                }

                list_snapshot = list

                for (var i in list) {
                    var editBtn = document.getElementsByClassName('edit')[i]
                    var deleteBtn = document.getElementsByClassName('delete')[i]
                    var title = document.getElementsByClassName('title')[i]

                    editBtn.addEventListener('click', (function (item) {
                        return function () {
                            editItem(item)
                        }
                    })(list[i]))

                    deleteBtn.addEventListener('click', (function (item) {
                        return function () {
                            deleteItem(item)
                        }
                    })(list[i]))

                    title.addEventListener('click', (function (item) {
                        return function () {
                            strikeUnstrike(item)
                        }
                    })(list[i]))
                }

            })
    }

    var form = document.getElementById('form-wrapper')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('Form submitted')
        var url = 'http://127.0.0.1:8000/api/task-create/'
        if (activeItem != null) {
            var url = `http://127.0.0.1:8000/api/task-update/${activeItem.id}/`
            activeItem = null
        }
        var title = document.getElementById('title').value
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'title': title })
        }).then(function (response) {
            buildList()
            document.getElementById('form').reset()
        })
    })

    function editItem(item) {
        console.log('Item clicked:', item)
        activeItem = item
        document.getElementById('title').value = activeItem.title
    }

    function deleteItem(item) {
        console.log('Delete clicked')
        fetch(`http://127.0.0.1:8000/api/task-delete/${item.id}/`, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
        }).then((response) => {
            buildList()
        })
    }

    function strikeUnstrike(item) {
        console.log('Strike clicked')

        item.completed = !item.completed
        fetch(`http://127.0.0.1:8000/api/task-update/${item.id}/`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'title': item.title, 'completed': item.completed })
        }).then((response) => {
            buildList()
        })
    }

    const filterOption = document.querySelector(".filter-todo");
    filterOption.addEventListener("change", () => {
        buildList()
    });


</script>

{% endblock content %}
